/* src/components/ExpensesList.css */

.expense-container {
    padding: 1rem;
    font-family: sans-serif;
  }
  
  .expense-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .expense-list {
    list-style-type: none;
    padding: 0;
  }
  
  .expense-item {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
  .expand-button{
    margin-bottom : 50px;
    padding: 7px;
    border-radius: 5px;
    border-color: green;
  }

  .expand-button {
    margin: 10px 0;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  /* Align edit/delete buttons */
  .item-buttons {
    margin-left: 1rem;
  }
  
  .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .edit-button{
    margin: 5px;
    padding: 5px 8px 5px 8px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: green;
    cursor: pointer;
  }

  .delete-button{
    margin: 5px;
    padding: 5px 8px 5px 8px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: green;
    cursor: pointer;
  }


